<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/style.css" />
  <title>Dice roller</title>
</head>

<body>
    <footer>
        Dice rolling and D&amp;D style dice-parsing code via <a href = "https://github.com/borntyping/python-dice">python-dice</a> project by Sam Clements used under the MIT license.
    </footer>
  <h1>rolls</h1>

  <ol>
    {% for roll in rolls %}
      <li><a href="{{url_for("viewRollDetails", roll_id = roll[0])}}">{{roll[1]}} = {{roll[3]}}</a> </li>
    {% endfor %}
  </ol>

  <div class="newRolls">
    <form id="newRollForm" action="/roll" method="post">
        <label for="roll_memo">memo</label><br>
        <input type="text" id="roll_memo" name="roll_memo" value="">
        <br>
        <label for="roll_config">roll config</label><br>
        <input type="text" id="roll_config" name="roll_config" value="">
        <br>
        <button id="submit">roll!</button>
    </form>
    </div>
</body>
</html>
