<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style.css" />
  <title>Dice roller</title>
</head>

<body>
    <footer>
        Dice rolling and D&amp;D style dice-parsing code via <a href = "https://github.com/borntyping/python-dice">python-dice</a> project by Sam Clements used under the MIT license.
    </footer>
    <dl>
        <dt>Memo</dt>
        <dd>{{roll['roll_memo']}}</dd>
    </dl>
    <dl>
        <dt>Result</dt>
        <dd>{{roll['roll_result']}}</dd>
        <dd><pre>{{roll['roll_result_long']}}</pre></dd>
    </dl>
</body>
</html>